.table tr:nth-child(odd) 
{
	color: cornflowerblue;
}
.table tr:nth-child(even) 
{
	color: firebrick
}
.zadanie1
{
	font-size: 40px;
}
.table
{
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
}
.zadanie2
{
	font-size: 30px;
}
.zadanie3
{
	font-size: 20px;
}
.all
{
	text-align: center;
	
}